set -g fish_color_autosuggestion {{base03-hex}}
set -g fish_color_cancel -r
set -g fish_color_command {{base0B-hex}}
set -g fish_color_comment {{base0A-hex}}
set -g fish_color_cwd green
set -g fish_color_cwd_root red
set -g fish_color_end {{base0E-hex}}
set -g fish_color_error {{base08-hex}}
set -g fish_color_escape {{base0C-hex}}
set -g fish_color_history_current --bold
set -g fish_color_host normal
set -g fish_color_match {{base0D-hex}}
set -g fish_color_normal normal
set -g fish_color_operator {{base0D-hex}}
set -g fish_color_param {{base05-hex}}
set -g fish_color_quote {{base0A-hex}}
set -g fish_color_redirection {{base05-hex}}
set -g fish_color_search_match bryellow --background=brblack
set -g fish_color_selection white --bold --background=brblack
set -g fish_color_user brgreen
set -g fish_color_valid_path --underline
set -g fish_pager_color_completion normal
set -g fish_pager_color_description B3A06D yellow
set -g fish_pager_color_prefix white --bold --underline
set -g fish_pager_color_progress brwhite --background=cyan

